    /* Styles pour les appareils mobiles */
    @media (max-width: 768px) {
      header {
        flex-direction: column;
        align-items: center;
      }

      nav {
        margin-top: 1rem;
      }

      nav a {
        display: block;
        margin: 0.5rem 0;
      }

      section {
        padding: 1rem;
      }
    }
